*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

a{
  text-decoration: none;
}

.body{
background-color: #6ebcff;
}

.container{
max-width: 1200px;
margin: 0 auto;
}

.flex{
display: flex;
justify-content: space-between;
align-items: center;
}

.header{
  height: 15vh;
  text-align: center;
}

.logo{
display: flex;
align-items: center;
gap: 1rem;
}

.logoName{
  font-size: xx-large;
}
.logoImg{
width: 100px;
}


.main{
  height: 85vh;
}

.modeImg{
  width: 80px;
  cursor: pointer;
}